[Unit]
Description=Game sounds as a service
After=pulseaudio.service

[Service]
User=operator
Type=simple
Restart=always
ExecStart=cd klaxon && python3 -u main.py

[Install]
WantedBy=multi-user.target